/* inline, float, flex, flex-box, grid, dp:table + dp:table-cell + teble-layout, ... */

/* 초기화 */
* {margin: 0;padding: 0;font: inherit;font-size: 100%;box-sizing: border-box;border: 0;letter-spacing: -0.050em;}
ol,ul {list-style: none;}
a {text-decoration: none;}
img {vertical-align: top;}
/* //초기화 */

/* 공용 */
.title {font-weight: bold;text-align: center;}

.area-division-test {padding-bottom: 100px;}
.main-title {font-size: 30px;}

.area-test .area-division-header .division-title{font-size: 20px;}

.slot-test {margin: 50px auto 0 auto;width: 1000px;}
.slot-test .test-title {font-size: 30px;font-weight: bold;}
.test-wrap {margin-top: 15px;}
.test-wrap .text-list__link {display: block;width: 100%;height: 100%;}
.test-wrap .unit-test {padding: 20px;}
.test-wrap .unit-test .test-img img {width: 100%;}
.test-wrap .unit-test .test-text {text-align-last: left;margin-top: 20px;color: #222;}
.test-wrap .unit-test .test-text .title {font-size: 16px;height:42px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.test-wrap .unit-test .test-text .price {display: block;font-size: 13px;margin-top: 20px;}
/* //공용 */

/* slot01 - inline left */
.slot01 .test-wrap .test-list {font-size: 0;border-top: 2px solid #dd8006;border-left: 2px solid #dd8006;}
.slot01 .test-wrap .text-list__item {display: inline-block;width: calc(100%/4);border-right: 2px solid #c374e2;border-bottom: 2px solid #c374e2;}
/* //slot01 - inline left */

/* slot02 - inline center */
.slot02 .test-list {font-size: 0;border-top: 2px solid #dd8006;text-align: center;}
.slot02 .text-list__item {display: inline-block;width: calc(100%/4); border-left: 2px solid #c374e2;border-bottom: 2px solid #c374e2;}
.slot02 .text-list__item:nth-child(4n) {border-right: 2px solid rgb(236, 69, 69);}
.slot02 .text-list__item:last-child {border-right: 2px solid rgb(0, 179, 24);}
/* //slot02 - inline center */

/* slot03 - float */
.slot03 .test-wrap .test-list {border-top: 2px solid #dd8006;border-left: 2px solid #dd8006;}
.slot03 .test-wrap .test-list::after {content: '';display: block;clear: both;}
.slot03 .test-wrap .text-list__item {float: left;width: calc(100%/4);border-right: 2px solid #c374e2;border-bottom: 2px solid #c374e2;}
/* //slot03 - float */

/* slot04 - flex left */
.slot04 .test-wrap .test-list {display: flex;flex-wrap: wrap;border-top: 2px solid #dd8006;border-left: 2px solid #dd8006;}
.slot04 .test-wrap .text-list__item {width: calc(100%/4);border-right: 2px solid #c374e2;border-bottom: 2px solid #c374e2;}
/* //slot04 - flex left */

/* slot05 - flex center */
.slot05 .test-list {display: flex;flex-wrap: wrap;justify-content: center;border-top: 2px solid #dd8006;}
.slot05 .text-list__item {width: calc(100%/4); border-left: 2px solid #c374e2;border-bottom: 2px solid #c374e2;}
.slot05 .text-list__item:nth-child(4n) {border-right: 2px solid rgb(236, 69, 69);}
.slot05 .text-list__item:last-child {border-right: 2px solid rgb(0, 179, 24);}
/* //slot05 - flex center */

/* slot06 - inline-flex left */
.slot06 .test-wrap .test-list {display: inline-flex;flex-wrap: wrap;border-top: 2px solid #dd8006;border-left: 2px solid #dd8006;}
.slot06 .test-wrap .text-list__item {width: calc(100%/4);border-right: 2px solid #c374e2;border-bottom: 2px solid #c374e2;}
/* //slot06 - inline-flex left */

/* slot07 - flex center */
.slot07 .test-list {display: inline-flex;flex-wrap: wrap;justify-content: center;border-top: 2px solid #dd8006;}
.slot07 .text-list__item {width: calc(100%/4); border-left: 2px solid #c374e2;border-bottom: 2px solid #c374e2;}
.slot07 .text-list__item:nth-child(4n) {border-right: 2px solid rgb(236, 69, 69);}
.slot07 .text-list__item:last-child {border-right: 2px solid rgb(0, 179, 24);}
/* //slot07 - flex center */

/* slot08 - grid left */
.slot08 .test-wrap .test-list {display: grid;grid-template-columns: repeat(4,1fr);border-top: 2px solid #dd8006;border-left: 2px solid #dd8006;}
.slot08 .test-wrap .text-list__item {width: 100%;border-right: 2px solid #c374e2;border-bottom: 2px solid #c374e2;}
/* //slot08 - grid left */

/* slot09 - grid center ~보류~*/
.slot09 .test-list {display: grid; grid-template-columns: repeat(4,calc(100%/4));justify-items: center;justify-content: center;}
.slot09 .text-list__item {border: 2px solid #c374e2;}
.slot09 .text-list__item+.text-list__item {border-left:0;}

/* //slot09 - grid center */










/* slot10 - display table */
/* .slot10 .test-wrap .test-list {display: table;table-layout: fixed;width: 100%;border-top: 2px solid #dd8006;border-left: 2px solid #dd8006;}
.slot10 .test-wrap .text-list__item {display: table-cell;width:100px;border-right: 2px solid #c374e2;border-bottom: 2px solid #c374e2;} */
/* //slot10 - display table */