@font-face {
  font-family: 'arita';
  font-weight: 300;
  src: url('../woff/Arita-dotum-Light.woff');
}
@font-face {
  font-family: 'arita';
  font-weight: 400;
  src: url('../woff/Arita-dotum-Medium.woff');
}
@font-face {
  font-family: 'arita';
  font-weight: 600;
  src: url('../woff/Arita-dotum-SemiBold.woff');
}
@font-face {
  font-family: 'arita';
  font-weight: 700;
  src: url('../woff/Arita-dotum-Bold.woff');
}
@font-face {
  font-family: 'cera';
  font-weight: 400;
  src: url('../woff/CeraProMedium.woff');
}
@font-face {
  font-family: 'cera';
  font-weight: 500;
  src: url('../woff/CeraProRegular.woff');
}

body{
  font-family: 'arita';
  font-weight: 400;
  font-size: 16px;
}

.blind{
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  margin: -1px;
  clip: rect(0,0,0,0);
}

/* 스킵네비 */
.skip-nav .skip-nav-list__link{
  position: absolute;
  left: 50%;
  top: -100px;
  transform: translateX(-50%);
  background: #ddd;
  font-weight: 700;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.skip-nav .skip-nav-list__link:focus,
.skip-nav .skip-nav-list__link:active{
  outline: 2px solid #000;
  border-radius: 3px;
  top: 2px;
}