@import 'reset.css';
@import 'common.css';

/*
웹폰트
font-family: 'Montserrat', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

*:focus{
  outline: 2px dotted #555;
}

body{
  font-family: 'arita';
  font-weight: 400;
  font-size: 0.8333vw;
  max-width: 1920px;
}
.wrapper{
  position: relative;
}

/* header */
.header-navbar{
  position: fixed;
  z-index: 50;
  width: 100vw;
  height: 3.13vw;
  color: #fff;
  border-top: 3px solid rgba(255, 255, 255, 0);
  transition: background-color 0.3s, border-top 0.3s;
}
.header-navbar.scroll{
  background-color: #fff;
  color: #000;
  border-top: 3px solid #fdcd00;
  border-bottom: 1px solid #f3eeea;
  box-sizing: border-box;
}

.header-navbar .header-navbar__inner{
  width: 65.73vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navbar .logo__link{
  display: inline-block;
  width: 6.88vw;
  height: 3.65vw;
  margin-right: 1.04vw;
  background-image: url(../images/header/logo_main.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.header-navbar.scroll .logo__link{
  background-image: url(../images/header/logo.svg);
}
.header-navbar .gnb{
  flex-grow: 1;
  height: 100%;
  margin: 0 2.08vw;
}
.header-navbar .gnb-list{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-navbar .gnb-list__item{
  height: 100%;
}
.header-navbar .gnb-list__link{
  display: block;
  font-size: 0.94vw;
  font-weight: 600;
  height: 100%;
  line-height: 3.13vw;
  padding: 0 1.04vw;
  position: relative;
}
.header-navbar.scroll .gnb-list__link::after{
  content: '';
  width: 0;
  height: 0.10vw;
  background-color: #fdcd00;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s;
}
.header-navbar.scroll .gnb-list__link:hover::after{
  width: 100%;
}
.header-navbar .util-list{
  display: flex;
}
.header-navbar .util__link{
  display: block;
  font-size: 0.83vw;
  padding: 0 1.04vw;
}
.header-navbar .util-search{
  width: 1.09vw;
  height: 1.09vw;
  margin-left: 0.52vw;
  margin-top: -3px;
  background-image: url(../images/header/btn_search_main.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 100%;
  border: 0;
  cursor: pointer;
  vertical-align: top;
}
.header-navbar.scroll .util-search{
  background-image: url(../images/header/btn_search.png);
}
/* nev - sub */
.header-navbar .sub-box{
  width: 100vw;
  background-color: #fff;
  padding: 2.60vw 0;
  position: absolute;
  top: 2.98vw;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.header-navbar .sub-box.hover,
.header-navbar .sub-box:focus{
  opacity: 1;
  visibility: visible;
}
.header-navbar .sub-box__content{
  width: 65.83vw;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding-right: 1.62vw;
}
.header-navbar .sub-box__inner{
  width: 53.39vw;
  display: flex;
  justify-content: space-between;
}
.header-navbar .gnb-list__item:nth-child(3) .sub-box__content{
  padding-right: 0;
  justify-content: center;
}
.header-navbar .gnb-list__item:nth-child(3) .sub-box__inner{
  width: 33.85vw;
  margin-right: 180px;
}
  /* 서브박스 왼쪽 */
.header-navbar .sub-menu-wrap{
  flex-grow: 1;
  position: relative;
}
.header-navbar .category-all{
  font-weight: 600;
  position: absolute;
}
.header-navbar .category-all::after{
  content: '';
  display: inline-block;
  width: 0.36vw;
  height: 0.63vw;
  background-image: url(../images/header/icon_category_more.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  margin-left: 0.26vw;
}
.header-navbar .category-all:nth-child(1){
  top: -0.52vw;
}
.header-navbar .category-all:nth-child(3){
  left: 0;
  bottom: 0;
}
.header-navbar .category-all:nth-child(4){
  right: 12.45vw;
  bottom: 0;
}
.header-navbar .category-all.category-all__story{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.header-navbar .category-all.category-all__story::after{
  width: 0;
}
.header-navbar .depth1-list{
  margin: 1.72vw 0 1.09vw 0;
  display: flex;
}
.header-navbar .depth1-list__item{
  width: 50%;
}
.header-navbar .depth1-list__link{
  font-weight: 600;
}
.header-navbar .depth1-list.depth1-list__story{
  margin: 1.72vw 0 0 0;
  display: block;
}
.header-navbar .depth1-list__story .depth1-list__item{
  width: 100%;
  margin-bottom: 1.09vw;
}
.header-navbar .depth1-list__story .depth1-list__link{
  font-weight: 400;
}
.header-navbar .depth2-list{
  margin-top: 1.09vw;
  display: flex;
  flex-wrap: wrap;
}
.header-navbar .depth2-list__item{
  width: 50%;
  margin-bottom: 1.09vw;
}
  /* 서브박스 오른쪽 */
.header-navbar .sub-benner-wrap{
  padding-left: 1.77vw;
  position: relative;
}
.header-navbar .sub-benner-wrap::after{
  content: '';
  width: 1px;
  height: 210px;
  background-color: #f3eeea;
  position: absolute;
  top: 0;
  left: 0;
}
.header-navbar .sub-benner__link{
  display: block;
}
.header-navbar .sub-benner__link .text-wrap{
  margin-top: 1.04vw;
}
/* 검색창 */
.header-navbar .search-box{
  position: absolute;
  top: 2.98vw;
  left: 0;
  width: 100vw;
  background-color: #fff;
  padding: 5.73vw 0 1.46vw 0;
  opacity: 0;
  visibility: hidden;
}
.header-navbar .search-box.open{
  opacity: 1;
  visibility: visible;
}
.header-navbar .search-box__inner{
  width: 36.72vw;
  margin: 0 auto;
}
.header-navbar .search-wrap{
  display: flex;
  justify-content: space-between;
}
.header-navbar .search-bar{
  flex-grow: 1;
  border: 0;
  border-bottom: 1px solid #000;
  font-weight: 300;
}
.header-navbar .search-bar::placeholder{
  color: #666;
}
.header-navbar .search-button{
  display: inline-block;
  width: 5.73vw;
  height: 2.19vw;
  background-color: #f3d03e;
  font-weight: 600;
  text-align: center;
  line-height: 2.19vw;
  font-size: 0.94vw;
  margin-left: 0.78vw;
}
.header-navbar .search-recomm{
  margin-top: 0.83vw;
  display: flex;
  align-items: center;
  font-size: 0.94vw;
  font-weight: 600;
  margin-bottom: 5.36vw;
}
.header-navbar .recomm-list{
  margin-left: 1.41vw;
  display: flex;
}
.header-navbar .recomm-list__item{
  margin-right: 0.52vw;
}
.header-navbar .recomm-list__link{
  display: block;
  background-color: #807f7f;
  padding: 0.21vw 0.31vw;
  color: #fff;
}
.header-navbar .search-box .close-button{
  display: block;
  font-weight: 600;
  background-color: transparent;
  padding: 0 0.26vw;
  cursor: pointer;
  margin: 0 auto;
}
.header-navbar .search-box .close-button::after{
  content: '';
  display: inline-block;
  width: 15px;
  height: 9px;
  background-image: url(../images/header/icon_search_close.png);
  margin-left: 17px;
}

/* main */
/* .section-visual */
.section-visual .swiper{
  height: 41.67vw;
  position: relative;
}
.section-visual .area-visual{
  height: 100%;
}
.section-visual .area-visual__item{
  height: 100%;
  position: relative;
  overflow: hidden;
}
.section-visual .area-visual__item .bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 45%;
}



.section-visual .visual-txt{
  position: absolute;
  left: 17.5vw;
  bottom: 13.96vw;
  z-index: 10;
}
.section-visual .area-visual__link,
.section-visual .swiper-slide-prev .area-visual__link{
  display: inline-block;
  z-index: 10;
  opacity: 0;
  transition: opacity 1s;
}
.section-visual .swiper-slide-active .area-visual__link{
  opacity: 1;
}
.section-visual .area-visual__link .title{
  color: #fff;
  font-size: 2.34vw;
  font-weight: 700;
  line-height: 2.86vw;
}
.section-visual .area-visual__link .txt{
  color: #fff;
  font-size: 1.25vw;
  font-weight: 600;
  margin-top: 1.09vw;
}
.section-visual .area-visual__link .more-button{
  margin-top: 3.65vw;
}
.section-visual .swiper .slide-button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.3vw;
  height: 2.45vw;
  z-index: 1;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.section-visual .swiper .button-arrow-prev{
  background-image: url(../images/se00/btn_prev.png);
  left: 1.04vw;
}
.section-visual .swiper .button-arrow-next{
  background-image: url(../images/se00/btn_next.png);
  right: 1.04vw;
}

.section-visual .pagination-wrap{
  position: absolute;
  bottom: 10.16vw;
  left: 17.5vw;
  z-index: 10;
  display: flex;
  align-items: center;
}
.section-visual .swiper-pagination{
  position: static;
  text-align: left;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10;
  width: 23.44vw;
  display: flex;
}
.section-visual .swiper-pagination .swiper-pagination-bullet{
  width: calc(100%/5);
  height: 0.21vw;
  border-radius: 0;
  margin: 0;
  background-color: #fff;
  opacity: 0.3;
  transition: opacity 1s;
}
.section-visual .swiper-pagination .swiper-pagination-bullet-active{
  opacity: 1;
}

/* section01 */
.section01 .area-swiper{
  display: flex;
}
.section01 .section-body{
  margin-bottom: 2.60vw;
}
.section01 .area-swiper__pagination{
  width: 15.89vw;
  padding-left: 1.93vw;
  display: flex;
  align-items: center; 
  position: relative;
}
.section01 .hash-list__item .hash-button{
  font-size: 1.033vw;
  color: #bcbcbc;
  margin-bottom: 1.98vw;
  cursor: pointer;
  transition: width 1s, height 1s, font-size 1s;
}
.section01 .hash-list__item .hash-button.active{
  font-size: 1.446vw;
  color: #000;
  font-weight: 600;
  background-color: #f7ff6e;
  text-align: center;
  line-height: 2.19vw;
  margin: 0 0 1.56vw -7px;
}
.section01 .section01-swiper{
  width: 71.25vw;
  margin: 0;
}
.section01 .img-wrap{
  width: 17.34vw;
  height: 24.22vw;
  position: relative;
}
.section01 .img-wrap .product__default,
.section01 .img-wrap .product__active{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.section01 .img-wrap .product__active{
  opacity: 0;
  transition: opacity 1s;
}
.section01 .swiper-slide-active .img-wrap .product__active{
  opacity: 1;
}
.section01 .img-wrap .product__active .desc{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 1.446vw;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #aaa9a9;
  padding: 0.42vw 1.35vw;
}
.section01 .img-wrap .product__active::after{
  content: '';
  position: absolute;
  bottom: 1.20vw;
  right: 1.04vw;
  width: 1.56vw;
  height: 0.36vw;
  background: url(../images/common/icon_more.png);
  background-repeat: no-repeat;
}
.section01 .text-wrap{
  margin-top: 1.04vw;
}
.section01 .text-wrap .product-title{
  padding: 0.26vw;
  background-color: #faffb5;
  font-size: 1.136vw;
  font-weight: 600;
}
.section01 .text-wrap .title-desc{
  margin-top: 0.78vw;
  font-weight: 500;
  font-size: 1.033vw;
  color: #31261d;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.3;
}
.section01 .slide-button{
  transform: translateY(-100%);
}
.section01 .swiper-pagination{
  left: 1.93vw;
  bottom: 3px;
}

/* section02 */
.section02 .section-body{
  margin-bottom: 1.56vw;
}
.section02 .area-swiper{
  position: relative;
  overflow: hidden;
}
.section02 .swiper{
  width: 84.20vw;
  margin-right: 0;
  overflow: visible;
}
.section02 .area-event__item{
  display: flex;
  align-items: center;
  width: auto;
}
.section02 .img-wrap{
  width: 29.80vw;
}
.section02 .swiper-slide-next .img-wrap{
  opacity: 1 !important;
}
.section02 .area-event__item .text-wrap{
  margin-right: 7.55vw;
}
.section02 .text-wrap .num{
  font-size: 3.356vw;
  font-weight: 700;
  color: #ba8961;
  letter-spacing: -0.10em;
  display: block;
  margin-bottom: 0.78vw;
}
.section02 .text-wrap .event-title{
  width: 15.798vw;
  font-size: 1.549vw;
  font-weight: 600;
  display: block;
  margin-bottom: 1.15vw;
}
.section02 .text-wrap .tag-wrap{
  width: 16.15vw;
  border-top: 1px solid #000;
  padding-top: 1.30vw;
  margin-bottom: 3.13vw;
}
.section02 .text-wrap .tag-wrap .tag{
  font-size: 1.033vw;
  line-height: 1.56vw;
}
.section02 .slide-button-wrap{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 60.50vw;
  z-index: 5;
}
.section02 .swiper-pagination{
  left: 14.84vw;
  bottom: 3px;
}

/* section03 */
.section-header .section__title{
  margin-bottom: 2.34vw;
}
.section03 .area-story{
  display: flex;
}
.section03 .area-story__move{
  width: 43.49vw;
  height: 27.60vw;
}
.section03 .area-story__move > iframe{
  width: 100%;
  height: 100%;
}
.section03 .area-story__desc{
  width: calc(100%/2);
}
.section03 .desc-wrap{
  height: 22.76vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e4e1e6;
  padding-left: 4.17vw;
}
.section03 .desc-wrap .desc{
  font-size: 1.033vw;
  font-weight: 300;
  line-height: 1.7vw;
}
.section03 .desc-wrap .more-link{
  margin-top: 2.86vw;
}
.section03 .subtitle{
  height: 4.90vw;
  padding-left: 4.17vw;
  background-color: #f5f5f5;
  overflow-y: scroll;
}
.section03 .subtitle__text{
  margin: 1.04vw 0 1.04vw;
  line-height: 1.30vw;
}

/* section04 */
.section04 .section-body{
  margin-bottom: 3.65vw;
}
.section04 .area-insta__item{
  width: 39.58vw;
  height: 26.56vw;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.section04 .slot-layer{
  width: 13.02vw;
  height: 13.02vw;
  overflow: hidden;
  position: relative;
}
.section04 .slot-layer.slot-layer__big{
  width: 26.04vw;
  height: 26.56vw;
}
.section04 .slot-insta__link{
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  transition: background-position 0.3s;
}

.section04 .slot-layer.slide01 .slot-insta__link{
  background-image: url(../images/se04/1978417d11bd5f4262fa.jpg);
}
.section04 .slot-layer.slide02 .slot-insta__link{
  background-image: url(../images/se04/8813324601ca2bc5d234.jpg);
}
.section04 .slot-layer.slide03 .slot-insta__link{
  background-image: url(../images/se04/570654a35185b5cdc0c3.jpg);
}
.section04 .slot-layer.slide04 .slot-insta__link{
  background-image: url(../images/se04/1978417d11bd5f4262fa.jpg);
}
.section04 .slot-layer.slide05 .slot-insta__link{
  background-image: url(../images/se04/c75181de48dcc22dd961.jpg);
}
.section04 .slot-layer.slide06 .slot-insta__link{
  background-image: url(../images/se04/570654a35185b5cdc0c3.jpg);
}
.section04 .slot-layer:hover .slot-insta__link{
  background-position: center bottom 30%;
}
.section04 .slot-insta__link .slot__icon{
  position: absolute;
  left: 10px;
  top: 10px;
}
.section04 .text-wrap{
  position: absolute;
  left: 50%;
  bottom: -100px;
  transform: translateX(-50%);
  background-color: #fff;
  width: 100%;
  font-family: sans-serif;
  padding-top: 1.56vw;
  text-align: center;
  border-radius: 0;
  transition: bottom 0.3s, border-radius 0.3s;
}
.section04 .slot-layer:hover .text-wrap{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.section04 .text-wrap .user-link{
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px 10px;
}
.section04 .text-wrap .user-review{
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px 10px;
  margin-bottom: 5px;
}



.section04 .more-button{
  background-color: #fff;
  color: #000;
  border-color: #000;
  margin: 2.60vw auto 0;
  display: block;
  width: 9.27vw;
}

/* footer */
.footer-wrapper{
  border-top: 1px solid #e7e6e6;
  padding: 1.82vw 0 2.92vw;
}
.footer .footer__inner{
  width: 83.39vw;
  margin: 0 auto;
}
.footer .sns-list__item{
  display: inline-block;
  width: 1.93vw;
  height: 1.72vw;
  margin-right: 1.20vw;
}
.footer .sns-list__item.sns-facebook .sns-list__link{
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/footer/icon_facebook.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.footer .sns-list__item.sns-insta .sns-list__link{
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/footer/icon_instagram.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.footer .sns-list__item.sns-youtobe .sns-list__link{
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/footer/icon_youtube.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.footer .footer-section{
  margin-top: 2.08vw;
  display: flex;
}
.footer .area-info{
  width: 50%;
  position: relative;
}
.footer .info-list__item{
  display: inline-block;
}
.footer .info-list__link{
  display: block;
  padding: 0 12px;
  font-size: 0.78vw;
  position: relative;
}
.footer .info-list__link::after{
  content: '';
  position: absolute;
  right: -3px;
  top: 50%;
  transform: translateY(-80%);
  width: 1px;
  height: 7px;
  background-color: #727272;
}
.footer .info-list__item:nth-child(1) .info-list__link{
  padding-left: 0;
}
.footer .info-list__item:nth-child(4) .info-list__link{
  font-weight: 700;
}
.footer .info-list__item:nth-child(6) .info-list__link::after{
  width: 0;
  height: 0;
}
.footer .info-css{
  margin-top: 1.04vw;
  font-size: 0.68vw;
}
.footer .info-copy{
  margin-top: 1.56vw;
  font-size: 0.68vw;
  display: block;
}
.footer .info-mark{
  width: 2.81vw;
  position: absolute;
  top: 1.88vw;
  right: 7.03vw;
}

.footer .area-lang{
  width: 50%;
  position: relative;
}
.footer .lang-wrap{
  position: absolute;
  right: 0;
}
.footer .lang-list{
  width: 10.94vw;
  height: 1.82vw;
  font-size: 0.84vw;
  padding: 0 1.04vw;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.footer .lang-wrap .lang__arrow{
  position: absolute;
  top: 0.42vw;
  right: 0;
}
/* top버튼 */
.wrapper__top{
  position: fixed;
  bottom: 50px;
  right: 15px;
  z-index: 100;
}
.wrapper__top.fixed{
  position: absolute;
  bottom: 15.83vw;
  transition: bottom 0.5s;
}
.wrapper__top .top-button{
  width: 3.54vw;
  height: 3.54vw;
  background-image: url(../images/common/btn_top.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}
.wrapper__top .top-button.on{
  opacity: 1;
  visibility: visible;
}
/* 메뉴, 검색창 bg */
.menu_bg{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
}
.menu_bg.on{
  opacity: 1;
  visibility: visible;
}