/* 폰트 */
@font-face {
	font-family: 'Gmarket Sans';font-style: normal;font-weight: 700;
	src: local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
	url('https://script.ebay.co.kr/fonts/GmarketSansBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('https://script.ebay.co.kr/fonts/GmarketSansBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Gmarket Sans';font-style: normal;font-weight: 500;
	src: local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
	url('https://script.ebay.co.kr/fonts/GmarketSansMedium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('https://script.ebay.co.kr/fonts/GmarketSansMedium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Gmarket Sans';font-style: normal;font-weight: 300;
	src: local('Gmarket Sans Light'), local('GmarketSans-Light'),
	url('https://script.ebay.co.kr/fonts/GmarketSansLight.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('https://script.ebay.co.kr/fonts/GmarketSansLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* 공통 */
.event-wrapper {max-width:2000px;margin:0 auto;background-color:#fff;font-family: -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, Roboto, 'Gmarket Sans', Tahoma, sans-serif;font-weight: 500;font-size: 24px;line-height: 36px;letter-spacing: -0.020em;word-break: keep-all;}
.event-wrapper .event-header-fence,
.event-wrapper .division-fence {width:920px;margin:0 auto;}
.event-wrapper fieldset {margin: 0;padding: 0;}
.event-wrapper [class$="__bold"] {font-weight: 700;}

/* 공통 버튼 커스텀 */
.event-wrapper .button-wrap {text-align: center;}
.event-wrapper .button-wrap .finish-link,
.event-wrapper .button-wrap .form-button,
.event-wrapper .button-wrap .alert-link {display: inline-block;font-size: 30px;line-height: 80px;letter-spacing: -0.020em;color: #fff;background-color: #262626;width: 400px;margin: 0 auto;border-radius: 100px;font-family: -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, Roboto, 'Gmarket Sans', Tahoma, sans-serif;}

/* 공통 라디오 버튼 커스텀 */
.radio-select label {font-size: 0;}
.radio-select .ui-input__radio {position: relative;display: inline-block;margin-right: 10px;width: 26px;height: 26px;border: 1px solid #b5b5b5;border-radius: 50%;vertical-align: middle;}
.radio-select input[type="radio"]:checked + .ui-input__radio::after {content: '';width: 16px;height: 16px;background-color: #eb907f;border-radius: 50%;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.radio-select input[type="radio"]:focus + .ui-input__radio{border: 1px solid #000;}
.radio-select .text {vertical-align: middle;font-size: 24px;margin-right: 15px;}

.radio-select .select-list__item .ui-input-wrap {margin-top: -8px;}

/* 공통 입력창 커스텀 */
.ui-input-wrap {display: inline-block;}
.ui-input-wrap + .ui-input-wrap {margin-left: 10px;}
.ui-input-wrap .ui-input__text {width: 280px;height: 50px;box-sizing: border-box;border: 1px solid #b3b3b3;padding: 0 14px;font-family: -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, Roboto, 'Gmarket Sans', Tahoma, sans-serif;font-weight: 500;font-size: 24px;line-height: 36px;letter-spacing: -0.020em;}
.ui-input-wrap .ui-input__text::placeholder {color: #b3b3b3;}
.ui-input-wrap input[type="tel"] {width: 440px;}
.ui-input-wrap input[type="number"] {width: 100%;}
.ui-input-wrap input[type="number"]::-webkit-inner-spin-button {all: unset;}

.ui-input-bundle {display: inline-block;}
.ui-input-bundle .bundle-wrap {display: flex;justify-content: space-between;align-items: center;}
.ui-input-bundle .ui-input-wrap {margin-top: 0;flex: 1;}
.ui-input-bundle .hyphen {margin: 0 10px;}



/* 이벤트헤더 */
.event-wrapper .event-header {background: url(../images/pc.header-bg.jpg);background-repeat: no-repeat;background-position: center top;background-size: 100% 100%;padding-bottom: 120px;}
.event-wrapper .event-header .event-header-intro {background-color: #fff;text-align: center;padding: 65px 0;box-shadow: 0px 5px 20px 0px rgba(164, 112, 69, 0.1);color: #333333;}
.event-wrapper .event-header .slot-intro .intro-desc {margin-top: 60px;}
.event-wrapper .event-header .slot-intro .desc-title {font-size: 30px;font-weight: 700; color: #e07f6d;display: block;}
.event-wrapper .event-header .slot-intro .desc-text {margin-top: 3px;}

.event-wrapper .event-header .slot-intro__finish .desc-text:nth-child(2) {font-weight: 700;}
.event-wrapper .event-header .slot-intro__finish .desc-text:nth-child(4) {margin-top: 33px;}
.event-wrapper .event-header .slot-intro__finish .button-wrap {margin-top: 42px;}



/* 이벤트바디 */
.event-wrapper .event-body {background: url(../images/pc.body-bg.jpg);background-repeat: no-repeat;background-position: center top;background-size: 100% 100%;padding-bottom: 100px;color: #1a1a1a;}
.area-division-form .division-form {background: url(../images/pc.form-bg.jpg);background-color: #fff;background-repeat: no-repeat;background-position: center top;background-size: 100% 80px;display: inline-block;width: 100%;margin-top: -62px;padding: 82px 0;box-shadow: 0px 5px 20px 0px rgba(164, 112, 69, 0.1);}

.area-division-form .slot-form {padding: 0 64px;}
.area-division-form .slot-form .select-list__item + .select-list__item {margin-top: 10px;}

/* slot-form--01 */
.area-division-form .slot-form--01 .guide-list {display: flex;flex-wrap: wrap;justify-content: space-between;}

.area-division-form .slot-form--01 .list-title {color: #e07f6d;border: 1px solid #e07f6d;border-radius: 100px;width: 145px;height: 43px;line-height: 43px;text-align: justify;padding: 0 19px;box-sizing: border-box;margin-bottom: 20px;font-weight: 700;}
.area-division-form .slot-form--01 .list-title::after {content: '';display: inline-block;width: 100%;}
.area-division-form .slot-form--01 .list-text {width: calc(100% - 145px - 15px);display:inline;margin-bottom: 20px;padding-top: 5px;}

.area-division-form .slot-form--01 .list-title:nth-child(11),
.area-division-form .slot-form--01 .list-text:nth-child(12) {margin-bottom: 0;}

.area-division-form .slot-form--01 .button-wrap {margin-top: 60px;}

.area-division-form .slot-form--01 .notice {margin-top: 70px;}
.area-division-form .slot-form--01 .notice-list__item {font-size: 22px;line-height: normal;color: #a6a6a6;display: flex;}
.area-division-form .slot-form--01 .notice-list__item + .notice-list__item {margin-top: 15px;}
.area-division-form .slot-form--01 .notice-list__item::before {content: '';display: inline-block;width: 3px;height: 3px;border-radius: 50%;background-color: #a6a6a6;margin: 10px 10px 0 0;}

/* slot-form--02 */
.area-division-form .slot-form--02 .fillin-list {margin-top: 44px;}
.area-division-form .slot-form--02 .fillin-list__item + .fillin-list__item {margin-top: 52px;}
.area-division-form .slot-form--02 .fillin-list__item .list-text {font-weight: 700;margin-bottom: 18px;}
.area-division-form .slot-form--02 .button-wrap {margin-top: 60px;}

/* slot-form--03 */
.area-division-form .slot-form--03 .consent-info .info-list {margin-top: 50px;}
.area-division-form .slot-form--03 .consent-info .info-list__item .list-text {font-weight: 700;}

.area-division-form .slot-form--03 .radio-select {margin-top: 50px;}

.area-division-form .slot-form--03 .etc {margin-top: 45px;}
.area-division-form .slot-form--03 .etc .etc-list {margin-top: 5px;}
.area-division-form .slot-form--03 .etc .etc-list__item {display: flex;}
.area-division-form .slot-form--03 .etc .etc-list__item::before {content: '';display: inline-block;width: 3px;height: 3px;border-radius: 50%;background-color: #000;margin: 14px 10px 0 0;}

/* alert */
.area-division-form .division-alert .dimd {width: 100vw;height: 100vw;position: fixed;top: 0;left: 0;background-color: rgba(0, 0, 0, 0.6);}
.area-division-form .division-alert .alert-type {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 999;}

.area-division-form .division-alert .unit-alert {width: 580px;background-color: #fff;padding: 60px 0 70px;}
.area-division-form .division-alert .unit-alert .alert-text {text-align: center;display: block;}
.area-division-form .division-alert .unit-alert .alert-text + .alert-text {margin-top: 30px;}
.area-division-form .division-alert .unit-alert .alert-text .bold {font-weight: 700;}

.area-division-form .division-alert .unit-alert .button-wrap {margin-top: 40px;}
.area-division-form .division-alert .unit-alert .button-wrap + .button-wrap {margin-top: 10px;}
.area-division-form .division-alert .unit-alert .alert-link {width: 260px;font-size: 26px;line-height: 60px;}
.area-division-form .division-alert .unit-alert .alert-link:focus {outline: 3px solid #e07f6d;}

.area-division-form .division-alert .alert-type--01 .alert-text:nth-child(2) {margin-top: 0;}