.event-popup-wrapper {width: 660px;height: 870px;font-family: 'Malgun Gothic', '맑은 고딕', dotum, '돋움', -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, Roboto, Tahoma, "Helvetica Neue", Arial, sans-serif;position: relative;}

.popup-header {background-color: #383838;}
.popup-header .popup-header-fence {padding: 34px 30px 37px;}
.popup-header .popup-header-title .title {color: #eeeeee;font-size: 30px;letter-spacing: -0.07em;margin-left: 10px;}
.popup-header .popup-header-title .title .deco {display: block;color: #7d7d7d;letter-spacing: -0.020em;font-size: 22px;}

.popup-body {background-color: #e5e5e5;}

.aria-coupon {}
.aria-coupon .aria-division-fence {padding: 20px 30px 0;}

.aria-close {position: absolute;}
.aria-close .button-wrap {}
.aria-close .button-wrap .closs-button {}
/* 닫기버튼부터만들기 */