/* inline, float, flex, flex-box, grid, dp:table + dp:table-cell + teble-layout, ... */

/* 초기화 */
* {margin: 0;padding: 0;font: inherit;font-size: 100%;box-sizing: border-box;border: 0;letter-spacing: -0.050em;}
ol,ul {list-style: none;}
a {text-decoration: none;}
img {vertical-align: top;}
/* //초기화 */

/* 공용 */
.title {font-weight: bold;text-align: center;}

.area-division-test {padding-bottom: 100px;}
.main-title {font-size: 30px;}

.area-test .area-division-header .division-title{font-size: 20px;}

.slot-test {margin: 50px auto 0 auto;width: 1000px;}
.slot-test .test-title .title {font-size: 30px;font-weight: bold;}
.slot-test .test-title .memo {text-align: center;}

.test-wrap {margin-top: 15px;}
.test-wrap .test-list {background-color: #eee;}
.test-wrap .text-list__item {background-color: #fff;width: calc((100% - 60px) / 4);border: 2px solid #c374e2;}
.test-wrap .text-list__item + .text-list__item {margin-left: 20px;}
.test-wrap .text-list__item:nth-child(4n+1) {margin-left: 0;}
.test-wrap .text-list__item:nth-child(n+5) {margin-top: 20px;}

.test-wrap .text-list__link {display: block;width: 100%;height: 100%;}
.test-wrap .unit-test {padding: 20px;}
.test-wrap .unit-test .test-img img {width: 100%;}
.test-wrap .unit-test .test-text {margin-top: 20px;color: #222;}

.test-wrap .unit-test .test-text .title-wrap {display: table;width: 100%;}
.test-wrap .unit-test .test-text .title-inner {display: table-cell; vertical-align: middle;height: 42px;background-color: #eee;}
.test-wrap .unit-test .test-text .title {text-align: center;font-size: 16px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.test-wrap .unit-test .test-text .price {text-align: left;display: block;font-size: 13px;margin-top: 20px;}

.title-text {display: table-cell;}
/* //공용 */

/* slot01 - inline left */
.slot01 .test-wrap .test-list {font-size: 0;}
.slot01 .test-wrap .text-list__item {display: inline-block;}
/* //slot01 - inline left */

/* slot02 - inline center */
.slot02 .test-list {font-size: 0;text-align: center;}
.slot02 .text-list__item {display: inline-block;}
.slot02 .text-list__item .text-list__link {padding: 20px 0;}
.slot02 .text-list__item .unit-test {width: 191px;margin: 0 auto;padding: 0;}
/* //slot02 - inline center */

/* slot03 - float */
.slot03 .test-wrap .test-list::after {content: '';display: block;clear: both;}
.slot03 .test-wrap .text-list__item {float: left;}
/* //slot03 - float */

/* slot04 - flex left */
.slot04 .test-wrap .test-list {display: flex;flex-wrap: wrap;}
/* //slot04 - flex left */

/* slot05 - flex center */
.slot05 .test-list {display: flex;flex-wrap: wrap;justify-content: center;}
/* //slot05 - flex center */

/* slot06 - inline-flex left */
.slot06 .test-wrap .test-list {display: flex;flex-wrap: wrap;}
/* //slot06 - inline-flex left */

/* slot07 - flex center */
.slot07 .test-list {display: flex;flex-wrap: wrap;justify-content: center;}
/* //slot07 - flex center */

/* slot08 - grid left */
.slot08 .test-wrap .test-list {display: grid;grid-template-columns: repeat(4, 1fr);gap: 20px;}
.slot08 .test-wrap .text-list__item {width: 100%;}
.slot08 .test-wrap .text-list__item + .text-list__item {margin-left: 0;}
.slot08 .test-wrap .text-list__item:nth-child(n+5) {margin-top: 0;}
/* //slot08 - grid left */

/* slot09 - grid center */
.slot09 .test-list {display: grid; grid-template-columns: repeat(4,1fr);justify-items: center;justify-content: center;gap: 20px;}
.slot09 .text-list__item {width: 100%;}
.slot09 .text-list__item.center {width: calc(100%/4);}
.slot09 .test-wrap .text-list__item + .text-list__item {margin-left: 0;}
.slot09 .test-wrap .text-list__item:nth-child(n+5) {margin-top: 0;}
.slot09 .text-list__item.center.center1 {grid-column: span 4;}
.slot09 .text-list__item.center.center2{grid-column: span 2;width: 50%;justify-self:end;}
.slot09 .text-list__item.center.center2+.center2 {justify-self:start;}
/* //slot09 - grid center */


/* 

  1. nth-child계산하여 margin값을 빼는것보단,
    ul에 margin -??px 해주는게 좋음.
    (이유: 나중에 가로값변동, 1줄에 썸네일갯수변동..등등에 유동적으로 대응 가능. (다만 ul의 마진값은 수정할듯))
  
  2. html태그 <table>과 css의 display: table; 과는 다르므로
    접근성에 위배되지 않음.
    (이유: html은 마크업이고 css는 오직 스타일위주임)
  
  3. display: table-cell; 의 활용은 IE처럼 버전 낮은곳에 활용하기.
    flex나 grid에 굳이 할 필요 없음

  4. 어떤 정렬을 하더라도 그에 걸맞는 block 엘리먼트 활용을 이해할것!
    정렬마다 구조가 다르고, 감싸는 태그가 다름, 그리고 미래를 생각해서 손이 덜가게,
    귀찮음을 갖고 잘 설계합시다.
    (귀찮음의 기준 : 피드백 받기전 nth-child 남발한거)

*/


/* ul 마이너스 마진 */
.area-margin .area-division-header .division-title{font-size: 20px;}

.slot-margin {margin: 50px auto 0 auto;width: 1000px;}
.slot-margin .margin-title .title {font-size: 30px;font-weight: bold;}
.slot-margin .margin-title .memo {text-align: center;}

.margin-wrap {padding-top: 15px;background-color: #ccc;}
.margin-wrap .margin-list {margin: -20px 0 0 -20px;background: rgba(182, 226, 255, 0.432);}
.margin-wrap .margin-list::after {content: '';display: block;clear: both;}
.margin-wrap .margin-list__item {width: calc(100% / 4);float: left;margin-top: 20px;}
/* .margin-wrap .margin-list__item {background-color: #fff;width: calc(100% / 4);float: left;padding: 20px 0 0 20px;border: 1px solid #ccc;} */
/* li에 padding으로 하니 가로정렬이 되긴하지만 백그라운드컬러가 묻힘 그부분을 우려해야함 */

.margin-wrap .margin-list__item .wrap {border: 2px solid #c374e2;margin-left: 20px;background-color: #fff;}
/* .margin-wrap .margin-list__item .wrap {border: 2px solid #c374e2;margin-left: 20px;background-color: #fff;} */
/* li에는 margin-top, li안쪽에 있는 div에게 margin-left 줌.
마진때문에 아래로 내려가지 않지만, li밖으로 마진이 튀어나감 + li에 한번에 못줘서 조금 번거로움(ex.네이버트렌드쇼핑) */

.margin-wrap .margin-list__link {display: block;width: 100%;height: 100%;}

.margin-wrap .unit-margin {padding: 20px;}
.margin-wrap .unit-margin .margin-img img {width: 100%;}
.margin-wrap .unit-margin .margin-text {margin-top: 20px;color: #222;}

.margin-wrap .unit-margin .margin-text .title-wrap {display: table;width: 100%;}
.margin-wrap .unit-margin .margin-text .title-inner {display: table-cell; vertical-align: middle;height: 42px;background-color: #eee;}
.margin-wrap .unit-margin .margin-text .title {text-align: center;font-size: 16px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.margin-wrap .unit-margin .margin-text .price {text-align: left;display: block;font-size: 13px;margin-top: 20px;}

.title-text {display: table-cell;}