@font-face {
  font-family: 'DOSGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0;
}
ul {
  list-style: none;
}
body {
  max-width: 700px;
  min-width: 250px;
  margin: 0 auto;
  font-family: 'DOSGothic';
}

.title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.title > p {
  font-size: 4.29vw;
}
.title > img {
  max-width: 300px;
  min-width: 250px;
  width: 100%;
}

.make {
  position: relative;
  width: 100vw;
  max-width: 700px;
  height: 100vw;
  max-height: 700px;
}

.face {
  width: 100%;
  min-width: 250px;
  overflow: hidden;
}
.face .face-list {
  display: flex;
}
.face .list__item {
  width: 100%;
}

.eye {
  width: 58.71vw;
  height: 20.71vw;
  top: 36.43vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.mouth {
  width: 58.71vw;
  height: 28.00vw;
  top: 57.14vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.button-wrap {
  text-align: center;
}
.button-wrap > button {
  padding: 15px 20px;
  font-family: 'DOSGothic';
  font-size: 20px;
  border-radius: 30px;
  border: 3px solid #000;
}
.button-wrap > button:hover {
  background-color: #222;
  color: #fff;
}


/* 공통요소 */
.face .list__item img,
.eye .list__item img,
.mouth .list__item img {
  width: 100%;
}

/* 애니메이션 표현 */
.face-list.is__animation {
  transition: transform 1s;
  transition-delay: 0s;
}

.eye-list.is__animation {
  transition: transform 1s;
  transition-delay: 0.2s;
  transition-timing-function: ease-out;
}

.mouth-list.is__animation {
  transition: transform 0.5s;
  transition-delay: 0.3s;
  transition-timing-function: ease;
}

/* 미디어쿼리 */
@media (min-width: 700px) {
  .title > p {
    font-size: 30px;
  }

  .eye {
    top: 255px;
    width: 411px;
    height: 145px;
  }

  .mouth {
    width: 411px;
    height: 196px;
    top: 400px;
  }
}